<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Belt Exam</title>
</head>
<style>
    * {
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .title{
        display:inline-block;
        font-weight: bold;
        margin-right: 100px;
    }
    .rowtitles{
        display:block;
    }
    .item_row{
       display:inline-block; 
    }
    .rows{  
        display:block; 
    }

    .othersList{
        margin-bottom: 60px;
    }
</style>

<body>

    <h1> Welcome, {{ user.first_name }} !</h1>

    <a href="logout">Logout</a>
    <h3> Your Wish List:</h3>
    <div class="userList">
        <div class="rowtitles">
            <p class="title">Item</p>
            <p class="title">Added By</p>
            <p class="title">Date Added</p>
            <p class="title">Action</p>
        </div>
            {% for item in mylist %}
            <div class="rows">
                <p class="item_row"> <a href="wished_items/{{item.id}}">{{ item.name }} </a> </p>
                <p class="item_row"> {{ item.owner.first_name }} </p>
                <p class="item_row"> {{ item.created_at }} </p>
                <p class="item_row"> <a href="wished_items/unwish/{{item.id}}">Remove from my wishlist</a></p>
            </div>
            {% endfor %}
    </div>

    <div class="othersList"></div>
        <h3> Other Users' Wish List:</h3>
        <div class="userList">
            <div class="rowtitles">
                <p class="title">Item</p>
                <p class="title">Added By</p>
                <p class="title">Date Added</p>
                <p class="title">Action</p>
            </div>
            
                {% for item in others %}
                    <div class="rows">
                        <p class="item_row"> <a href="wished_items/{{item.id}}">{{ item.name }}</a> </p>
                        <p class="item_row"> {{ item.owner.first_name }} </p>
                        <p class="item_row"> {{ item.created_at }} </p>
                        <p class="item_row"> <a href="wished_items/add_to_my_wishlist/{{item.id}}"> add to my wishlist</a> </p>
                    </div>
                {% endfor %}
    </div>
    <p><a href="wished_items/add">Add Item</a></p>
</body>

</html>